<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Launchbase: Desafio 2-3</title>
        <link rel="icon" href="/public/assets/favicon.ico" type="image/x-icon" />
        
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/home.css">

    </head>

    <body>
        <header>
            <div class="links">
                <a id="current_page" href="/src/views/index.html">Home</a>
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">E-mail</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/src/views/about.html">Sobre</a>
                <a href="/src/views/content.html">Conteúdos</a>

            </div>

        </header>

    </body>

</html>